<form class="form-group row">
    <div class="form-group col-md-3">
        <label for="nombre">Nombre: </label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
    </div>
    <div class="form-group col-md-3">
        <label for="nombre">Apellido: </label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="cuadroApellido">
    </div>
    <div class="form-group col-md-3">
        <label for="nombre">Cargo: </label>
        <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form-control" [(ngModel)]="cuadroCargo">
    </div>
    <div class="form-group col-md-3">
        <label for="nombre">Salario: </label>
        <input type="text" name="salario" id="salario" placeholder="Salario" class="form-control" [(ngModel)]="cuadroSalario">
    </div>
    <div class="form-group col-md-1">
        <button type="submit" class="btn btn-primary"(click)="actualizaEmpleado()" style="margin-left: 15px; margin-top: 35px;margin-right: 50px;">Acción</button>
    </div>
    <div class="form-group col-md-1">
             <button type="reset" class="btn btn-primary" style="margin-left: 15px; margin-top: 35px;margin-right: 50px;">Limpiar</button>
    </div>
</form>
<div style="text-align: center;">
    <button class="btn btn-primary" (click)="volverHome()">Ir a Inicio</button>
</div>
